<section id="demineur-game-settings-form">
  <h2 class="game_title">Démineur</h2>
  <div class="demineur-form-group">
    <label>Taille</label>
    <label>
      <select class="demineur-form-control" name="size">
        <option value="16">16 x 16</option>
        <option value="32">32 x 32</option>
        <option value="64">64 x 64</option>
        <option value="128">128 x 128</option>
      </select>
    </label>
  </div>
  <div class="demineur-form-group">
    <label>Difficulté</label>
    <label>
      <select class="demineur-form-control" name="level">
        <option value="0">Paisible</option>
        <option value="1">Facile</option>
        <option value="2">Intermédiaire</option>
        <option value="3">Difficile</option>
        <option value="4">Cauchemar</option>
      </select>
    </label>
  </div>
  <button class="demineur-form-btn" id="start-game">Commencer</button>
</section>
<script type="application/javascript" src="{{ GetScript }}" defer></script>